In [3]:
import numpy as np
import pandas as pd

In [5]:
import time

In [4]:
import os

## 0128 Python Test

list1 = [1,50,27,19,37,33,5,3,48]  다음과 같은 리스트에서 홀수와 짝수의 개수를 확인하는 문제

In [7]:
list1 = [1,50,27,19,37,33,5,3,48]

even_number = 0
odd_number = 0

for num in list1:
    if num%2 == 0:
        even_number += 1
    else:
        odd_number += 1
print(f"짝수 : {even_number}, 홀수 : {odd_number}")

짝수 : 2, 홀수 : 7

list2 = [4,5,2,1,99,15,2,7,27] 다음 리스트에서 가장 큰 수 찾는 문제

In [8]:
list2 = [4,5,2,1,99,15,2,7,27]
big_number =list2[0]

for num in list2:
    if num > big_number:
        big_number = num
print(f"가장 큰 수는 {big_number}입니다")

가장 큰 수는 99입니다

```
==================================================
이름	Python	Java	DB	평균	학점
==================================================
김미희	89	78	99	88	B
서대희	67	88	77	77	C
강예진	100	55	96	83	B
차현석	75	100	60	78	C
==================================================
평균	82	80	83
```
다음과 같은 형태로 출력되게 만들기
- 새로운 사람이 추가되어도 작동할 수 있도록

In [133]:
score_list = [['김미희',89,78,99],
              ['서대희',67,88,77],
              ['강예진',100,55,96]
             ]

In [135]:
score_list.append(['차현석',75,100,60])

In [123]:
print("="*50)
title = ["이름","Python","Java","DB","평균","학점"]
for i in title:
    print(i,end="\t")
print()
print("="*50)

for i in range(len(score_list)):
    _mean = int((score_list[i][1]+score_list[i][2]+score_list[i][3])/3)
    score_list[i].append(_mean)
    if _mean >= 90:
        score_list[i].append("A")
    elif _mean >= 80:
        score_list[i].append("B")
    elif _mean >= 70:
        score_list[i].append("C")
    elif _mean >= 60:
        score_list[i].append("D")
    elif _mean <60:
        score_list[i].append("F")
    for score in score_list[i]:
        print(score,end="\t")
    print()

print("="*50)

python_sum = 0
Java_sum = 0
DB_sum = 0

for i in range(len(score_list)):
    python_sum += score_list[i][1]
    Java_sum += score_list[i][2]
    DB_sum += score_list[i][3]
mean_list = ['평균',int(python_sum/len(score_list)),int(Java_sum/len(score_list)),int(DB_sum/len(score_list))]
for m in mean_list:
    print(m,end="\t")

==================================================
이름	Python	Java	DB	평균	학점
==================================================
김미희	89	78	99	88	B	88	B
서대희	67	88	77	77	C	77	C
강예진	100	55	96	83	B	83	B
차현석	75	100	60	78	C
==================================================
평균	82	80	83

In [78]:
# 어떤 사람이 새로 들어온다 하더라도 점수는 무조건 3개구나.. > 이건 반복문에서 신경쓸 필요가 없을듯.. 
# 새로운 사람이 들어온다면 세로로만 누적되겠구나.  

score_list[0][1],score_list[0][2],score_list[0][3]

(89, 78, 99)

In [79]:
_mean = int((score_list[0][1]+score_list[0][2]+score_list[0][3])/3)
_mean #첫번째사람의 평균 을 구하고, 이 평균에 대한 학점을 매겨야함

88

In [80]:
#range를 len함수를 사용해보자..
# 각자의 평균점수..

score_list[0].append(_mean)

if _mean >= 90:
    score_list[0].append("A")
elif _mean >= 80:
    score_list[0].append("B")
elif _mean >= 70:
    score_list[0].append("C")
elif _mean >= 60:
    score_list[0].append("D")
elif _mean <60:
    score_list[0].append("F")

In [85]:
for i in score_list[0]:
    print(i,end ='\t')

김미희	89	78	99	88	B

In [108]:
python_mean_ = int((score_list[0][1]+score_list[1][1]+score_list[2][1])/3)
Java_mean_ = int((score_list[0][2]+score_list[1][2]+score_list[2][2])/3)

DB_mean_ = int((score_list[0][3]+score_list[1][3]+score_list[2][3])/3)

In [116]:
python_sum = 0
Java_sum = 0
DB_sum = 0

for i in range(len(score_list)):
    python_sum += score_list[i][1]
    Java_sum += score_list[i][2]
    DB_sum += score_list[i][3]
mean_list = ['평균',int(python_sum/len(score_list)),int(Java_sum/len(score_list)),int(DB_sum/len(score_list))]
for m in mean_list:
    print(m,end="\t")

평균	85	73	90

In [129]:
# 함수로 구현

def score_procces_function(scorelist):  
    print("="*50)
    title = ["이름","Python","Java","DB","평균","학점"]
    for i in title:
        print(i,end="\t")
    print()
    print("="*50)

    for i in range(len(score_list)):
        _mean = int((score_list[i][1]+score_list[i][2]+score_list[i][3])/3)
        score_list[i].append(_mean)
        if _mean >= 90:
            score_list[i].append("A")
        elif _mean >= 80:
            score_list[i].append("B")
        elif _mean >= 70:
            score_list[i].append("C")
        elif _mean >= 60:
            score_list[i].append("D")
        elif _mean <60:
            score_list[i].append("F")
        for score in score_list[i]:
            print(score,end="\t")
        print()

    print("="*50)

    python_sum = 0
    Java_sum = 0
    DB_sum = 0

    for i in range(len(score_list)):
        python_sum += score_list[i][1]
        Java_sum += score_list[i][2]
        DB_sum += score_list[i][3]
    mean_list = ['평균',int(python_sum/len(score_list)),int(Java_sum/len(score_list)),int(DB_sum/len(score_list))]
    for m in mean_list:
        print(m,end="\t")

In [136]:
score_procces_function(score_list)

==================================================
이름	Python	Java	DB	평균	학점
==================================================
김미희	89	78	99	88	B	88	B
서대희	67	88	77	77	C	77	C
강예진	100	55	96	83	B	83	B
차현석	75	100	60	78	C
==================================================
평균	82	80	83

```
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81
```
위의 형태로 구구단이 출력되게 하기

In [15]:
for j in range(2,10):
    for i in range(1,10):
        print(f"{j}*{i}={j*i}", end = "\t")
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

9.1
![image.png]()
- 위와 같은 데이터프레임 생성

In [17]:
name = ['홍길동','성춘향','김사또']
korean = [70,80,90]
math = [80,90,60]
science = [88,78,90]

dic = {'이름': name , '국어': korean , '수학':math,'과학':science}
dt = pd.DataFrame(dic)

In [18]:
dt

    이름  국어  수학  과학
0  홍길동  70  80  88
1  성춘향  80  90  78
2  김사또  90  60  90

9.2
![image.png]()
- 평균추가

In [21]:
dt.iloc[:,1:].mean(axis = 1)

0    79.333333
1    82.666667
2    80.000000
dtype: float64

In [22]:
dt['평균'] = dt.iloc[:,1:].mean(axis = 1)
dt

    이름  국어  수학  과학         평균
0  홍길동  70  80  88  79.333333
1  성춘향  80  90  78  82.666667
2  김사또  90  60  90  80.000000

9.3
![image.png]()
- 최종출력

In [23]:
dt.iloc[:,1:]

   국어  수학  과학         평균
0  70  80  88  79.333333
1  80  90  78  82.666667
2  90  60  90  80.000000

In [26]:
total = dt.iloc[:,1:].mean()
total

국어    80.000000
수학    76.666667
과학    85.333333
평균    80.666667
dtype: float64

In [ ]:
pd.DataFrame(   )

In [33]:
pd.DataFrame([total])

     국어         수학         과학         평균
0  80.0  76.666667  85.333333  80.666667

In [29]:
total_dt = pd.concat([dt,pd.DataFrame([total])])

In [35]:
total_dt.index = [0,1,2,'종합']

In [45]:

total_dt.fillna("-",inplace=True)

     이름    국어         수학         과학         평균
0   홍길동  70.0  80.000000  88.000000  79.333333
1   성춘향  80.0  90.000000  78.000000  82.666667
2   김사또  90.0  60.000000  90.000000  80.000000
종합    -  80.0  76.666667  85.333333  80.666667

In [46]:
total_dt.round(1)

     이름    국어    수학    과학    평균
0   홍길동  70.0  80.0  88.0  79.3
1   성춘향  80.0  90.0  78.0  82.7
2   김사또  90.0  60.0  90.0  80.0
종합    -  80.0  76.7  85.3  80.7

- iloc을 생각하지 못했다면... => 풀 수 있음...
- mean(axis = 1)> 이걸 생각하지 못했을 수도 있어요... > 그래도 풀수는 있습니다.(시간이 오래걸릴거에요..)